#title{
    font-weight: bold;
}


#playerNameInput{
    display: table-row;
    vertical-align: middle;

    background: url(images/username.png) no-repeat;
    background-size: 100%;
    color: #707070;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vh;
    border: none;

    width: 23.04vh;
    height: 5.76vh;

    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;

}

li {
    text-align: center;
    display: table-row;
}

#spacebase {
    display: table-row;
    vertical-align: middle;

    width: 70vh;

    border: none;
    margin-left: auto;
    margin-right: auto;
}

#spacebaseAbout {
    vertical-align: middle;

    width: 80vw;

    border: none;
    margin-left: 0;
}

#aboutContent{
    display: none;
    position: absolute;
    top: 10%;

    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    left:10%;
    right:10%;
    width: 80%;
    height: 50%;
}

#aboutButton{
    opacity: 0.2;
    margin: 10vh;
    padding: 2px;

    color: #707070;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5vh;
    text-decoration: underline;
}

#aboutButton:hover{
    cursor:pointer;
    color: #464646;
}

#followButtons{
    border:0;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

    width: 5vh;
    height: 5vh;

    border-radius: 50px;

    filter: brightness(80%);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    -ms-transition: all .15s ease;
    transition: all .15s ease;
}

#followButtons:hover {
    
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);

    filter: brightness(110%);
}


#startGame{
    display: table-row;
    vertical-align: middle;

    background: url(images/startGameButton.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;
    width: 23.04vh;
    height: 5.76vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

#startGame:hover {
    filter: saturate(200%) brightness(70%);

}

#startGame:active {
    filter: saturate(400%) brightness(30%);
}

#helpContent {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}


#helpScrollDiv {
    position: absolute;

    margin-left: auto;
    margin-right: auto;

    overflow-y: scroll;

    left:0;
    right:0;
    width: 50%;
    height: 100%;
}

#howTo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    padding-top: 10%;
    padding-bottom: 10%;

    left:0;
    right:0;
    width: 85%;
}

a{
    color: #d9bcff;
}
a:hover{
    color: #be85ff;
}

#about {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5)
}

#backAbout {
    position: absolute;
    background: url(images/backX.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;

    top: 28vw;
    width: 4vw;
    height: 4vw;
}

#backHelp {
    position: absolute;
    background: url(images/backX.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;

    left: 22%;
    top: 10%;
    width: 5vw;
    height: 5vw;
}

#mainContent {
    position: absolute;
    top: 10%;

    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width: 100%;
    height: 50%;
}

#controls {
    display: table-row;
    vertical-align: middle;

    border: none;
    width: 22.88vh;
    height: 33.12vh;

    display: "inline-block";

    border: none;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
}

#respawnPlanetWait {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

#respawnTimer {
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    width: 300px;
    height: 100px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;

    text-shadow: 2px 2px rgb(43, 43, 43);
    padding: 5px;
}

#help {
    display: table-row;
    vertical-align: middle;

    background: url(images/help.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;
    width: 6vh;
    height: 6vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;
}

#help:hover {
    filter: saturate(200%) brightness(70%);

}

#help:active {
    filter: saturate(400%) brightness(30%);
}


body{
    background: #1B1730;
    margin: 0;
    border-width: 0px;
    overflow: hidden
}

#content{
    position: relative;
}

canvas{
    background-color: #1B1730;
    filter: blur(5px);
}
