#title{
    font-weight: bold;
}


#playerNameInput{
    display: table-row;
    vertical-align: middle;

    background: url(username.png) no-repeat;
    background-size: 100%;
    color: #707070;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    border: none;

    width: 288px;
    height: 72px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

li {
    text-align: center;
    display: table-row;
}

#spacebase {
    display: table-row;
    vertical-align: middle;

    width: 700px;

    border: none;
    margin-left: auto;
    margin-right: auto;
}

#startGame{
    display: table-row;
    vertical-align: middle;

    background: url(startGameButton.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;
    width: 288px;
    height: 72px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;
}

#startGame:hover {
    filter: saturate(200%) brightness(70%);

}

#startGame:active {
    filter: saturate(400%) brightness(30%);
}

#helpContent {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}


#helpScrollDiv {
    position: absolute;

    margin-left: auto;
    margin-right: auto;

    overflow-y: scroll;

    left:0;
    right:0;
    width: 50%;
    height: 100%;
}

#howTo{
    position: absolute;

    

    margin-left: auto;
    margin-right: auto;

    padding-top: 10%;
    padding-bottom: 10%;

    left:0;
    right:0;
    width: 85%;
}

#backHelp {
    position: absolute;
    background: url(backX.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;

    left: 22%;
    top: 10%;
    width: 5vw;
    height: 5vw;
}

#mainContent {
    position: absolute;
    top: 10%;

    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width: 100%;
    height: 50%;
}

#controls {
    display: table-row;
    vertical-align: middle;

    border: none;
    width: 286px;
    height: 414px;

    display: "inline-block";

    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
}

#help {
    display: table-row;
    vertical-align: middle;

    background: url(help.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;
}

#help:hover {
    filter: saturate(200%) brightness(70%);

}

#help:active {
    filter: saturate(400%) brightness(30%);
}


body{
    background: #1B1730;
    margin: 0;
    border-width: 0px;
    overflow: hidden
}

#content{
    position: relative;
}

canvas{
    background-color: #1B1730;
    filter: blur(5px);
}
