#title{
    font-weight: bold;
}


#playerNameInput{
    display: table-row;
    vertical-align: middle;

    background: url(username.png) no-repeat;
    background-size: 100%;
    color: #707070;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    border: none;

    width: 288px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

li {
    text-align: center;
    display: table-row;
}

#startGame{
    display: table-row;
    vertical-align: middle;

    background: url(startGameButton.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;
    width: 288px;
    height: 72px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;

}

#startGame:hover {
    filter: saturate(200%) brightness(70%);

}

#startGame:active {
    filter: saturate(400%) brightness(30%);
}

#preGameContent {
    position: absolute;
    top: 20%;

    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width: 25%;
    height: 50%;
}

#controls {
    display: table-row;
    vertical-align: middle;

    border: none;
    background-size: 100%;
    width: 286px;
    height: 363px;

    display: "inline-block";

    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
}


body{
    background: #1B1730;
    margin: 0;
    border-width: 0px;
    overflow: hidden
}

#content{
    position: relative;
}

canvas{
    background-color: #1B1730;
    filter: blur(5px);
}
