#title{
    font-weight: bold;
}


#playerNameInput{
    vertical-align: middle;

    background: url(images/username.png) no-repeat;
    background-size: 100%;
    color: #707070;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vh;
    border: 3px dashed rgba(255,177,177,0);
    
    width: 21.54vh;
    height: 5.76vh;

    margin-top: 2vh;
    margin-right: auto;

    padding-top: -1.5vh;
    padding-left: 1.5vh;

}

li {
    text-align: center;
    display: table-row !important;
}

#spacebase {
    width: 70vh;
    border: none;
}

#spacebaseAbout {
    vertical-align: middle;

    width: 80vw;

    border: none;
    margin-left: 0;
}

#aboutContent{
    display: none;
    position: absolute;
    top: 10vh;

    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 50%;
}

#aboutButton{
    color: #707070;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5vh;
    text-decoration: underline;
    opacity: 0.6;
}

#aboutButton:hover{
    cursor:pointer;
    color: #464646;
}

#followButtons{
    border:0;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1vh;

    width: 5vh;
    height: 5vh;

    border-radius: 50px;

    filter: brightness(80%);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    -ms-transition: all .15s ease;
    transition: all .15s ease;
}

#followButtons:hover {
    
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 1);

    filter: brightness(110%);
}


#startGame{
    display: table-row;
    vertical-align: middle;

    background: url(images/startGameButton.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    border: none;
    width: 23.04vh;
    height: 5.76vh;
    margin-left: auto;
    margin-right: auto;
}

#startGame:hover {
    filter: saturate(200%) brightness(70%);

}

#startGame:active {
    filter: saturate(400%) brightness(30%);
}

#helpContent {
    display: none;
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 100%;
}


#helpScrollDiv {
    position: absolute;

    margin-left: auto;
    margin-right: auto;

    overflow-y: scroll;

    left:0;
    right:0;
    width: 50%;
    height: 100%;
}

#howTo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    padding-top: 10%;
    padding-bottom: 10%;

    left:0;
    right:0;
    width: 85%;
}

a{
    color: #d9bcff;
}
a:hover{
    color: #be85ff;
}

#about {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5)
}

#backAbout {
    position: absolute;
    background: url(images/backX.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;

    top: 28vw;
    width: 4vw;
    height: 4vw;
}

#backHelp {
    position: absolute;
    background: url(images/backX.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    border: none;

    left: 22%;
    top: 10%;
    width: 5vw;
    height: 5vw;
}

#backHelp:hover {
    filter: saturate(200%) brightness(70%);

}

#backHelp:active {
    filter: saturate(400%) brightness(30%);
}

#mainContent {
    position: absolute;

    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-top: 10vh;
    margin-right: auto;
    left: -25%;
    right:0;
    width: 150%;
    height: 50%;
}

#controls {
    border: none;
    width: 22.88vh;
    padding: 5px;
}

#respawnPlanetWait {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

#respawnTimer {
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    width: 300px;
    height: 100px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;

    text-shadow: 2px 2px rgb(43, 43, 43);
    padding: 5px;
}

#repsawnAd {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#help {
    display: table-row;
    vertical-align: middle;

    background: url(images/help.png) no-repeat;
    background-size: 100%;
    cursor:pointer;

    cursor: pointer;

    border: none;
    width: 6vh;
    height: 6vh;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;
}

#help:hover {
    filter: saturate(200%) brightness(70%);

}

#help:active {
    filter: saturate(400%) brightness(30%);
}

#news{
    position: absolute;
    top: 20vh;
    width: 100%;
    background-color: blue; 
}

#news img{
    position: absolute;
    display:inline-block;
    margin: auto;
    width: 50vh;
    left: calc((100vw - 50vh) / 2);
}

#leftAd {
    position: absolute;
    float: center;
    height: 65%;
    width: 25vh;
    margin-top: 15vh;
    left: calc(50% - 40vh);
}

.example_responsive_1 {
    width: 100%;
    height: auto;
    
}

#rightAd {
    position: absolute;
    float: center;
    height: 65%;
    width: 25vh;
    margin-top: 15vh;
    left: calc(50% + 15vh);
}

#rightAd * {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.bottomAd{
    margin-top: 5vh;
    width: 50%;
    height: 15vh;
    display: inline-block;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


.bottomAd.lowered {
    -webkit-transition: 1s;
    -moz-transition:    1s;
    -ms-transition:     1s;
    -o-transition:      1s;
    transition:         1s;
    bottom: 1vh;
}

#redditLink{
    text-decoration: none;
}

#redditAnnouncement{
    vertical-align: middle;
    cursor: pointer;

    width: 20vh;
    height: 5vh;

    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;

    padding: 5px;

    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2vh;
    text-align: left;
    text-decoration: none; 

    background-color: #a3a498;
    border: .3vh solid #ffffff;
    outline: .3vh solid #707070;
}


body{
    background: #1B1730;
    margin: 0;
    border-width: 0px;
    overflow: hidden;
}

#content{
    position: relative;
}

#gridCanvas{
    background-color: #1B1730;
    filter: blur(5px);
}

#mainCanvas{
    filter: blur(5px);
}

#hiddenFields p{
    float: left;
}

.nonDecoratedLink{
    text-decoration: none;
}

#moreIoGames{
    cursor: default;

    width: 14vh;
    height: 2vh;

    margin-top: .5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5vh;

    padding: 5px;

    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2vh;
    text-align: left;
    text-decoration: none; 

    background-color: #a3a498;
    border: .3vh solid #ffffff;
    outline: .3vh solid #707070;
}

#redditAnnouncement{
    cursor: pointer;

    width: 20vh;
    height: 5vh;

    margin-top: .5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;

    padding: 5px;

    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2vh;
    text-align: left;
    text-decoration: none; 

    background-color: #a3a498;
    border: .3vh solid #ffffff;
    outline: .3vh solid #707070;

    display:none;
}

#vignetteOverlay {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: 0.25s opacity;
    background: -webkit-radial-gradient(rgba(59, 64, 70, 0.3),
                                        rgba(75, 81, 85, 0.3) 35%,
                                        rgba(109, 28, 28, 0.7));
    bottom: 0;
    display: -webkit-box;
    left: 0;
    padding: 20px;
    padding-bottom: 130px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    pointer-events: none;
    
    opacity: 0;
  }

input:focus {
    outline: none; 
}